<header
  style="
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.2),
      rgba(70, 16, 89, 1)
    );
  "
>
  <div style="display: flex; align-items: center">
    <img
      src="assets/img/dog.png"
      alt="superhero logo"
      style="width: 50px; margin: 1rem"
    />
    <span>SuperHeroes!</span>
  </div>
  <div>
    <a
      href="https://www.linkedin.com/in/carlos-daniel-passos-de-barros-aa3675190/"
      target="_blank"
      style="color: inherit"
      ><i class="pi pi-linkedin" style="font-size: 30px; margin-right: 1rem"></i
    ></a>
    <a
      href="https://github.com/danielpb93"
      style="color: inherit"
      target="_blank"
    >
      <i class="pi pi-github" style="font-size: 30px; margin-right: 1rem"></i>
    </a>
  </div>
</header>
